:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --hover-accent-color: #188ce8;
  --icons-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "roboto", sans-serif;

  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;

}

.no-scroll {
  overflow: hidden;
}



.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  color: var(--title-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.textarea {
  resize: none;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.hat {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.main-nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  position: relative;
  display: block;
  color: var(--accent-color);
}

.item .current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
  display: block;
  fill: var(--primary-text-color);

  transition: fill 250ms var(--timing-function);
}

.contact-link:hover .contact-icon {
  fill: var(--accent-color);
}

.contact-link:hover {
  color: var(--accent-color);
}
/* Hero */

.page-hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;

  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpeg);
  background-color: var(--hero-background-color);
}

.hero-title {
  max-width: 696px;
  margin: 0px auto 30px;

  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.hero-button {
  width: 216px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  border-radius: 4px;

 

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); 
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 12px;

  text-align:center;
}

.data-form {
  position: relative;
  padding: 40px;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 8px 8px auto auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-pict {
  transition: fill 250ms var(--timing-function);
}

.modal-pict {
  fill:#000000;
}

.modal-pict:hover,
.modal-pict:hover {
  fill: var(--accent-color);
}

.form-field {
  display: block;
  position: relative;
}

.form-input {
  width:100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 42px;
  transition: border-color 250ms var(--timing-function);
  margin-bottom: 10px;
}

.form-input:hover {
  border-color: var(--accent-color);
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin: 0 0 4px 0;
  display: block;
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms var(--timing-function);  
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon { 
  fill: var(--accent-color);
}

.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);

  padding: 12px 16px;
  margin-bottom: 20px;

  transition: border-color 250ms var(--timing-function);
  margin-bottom: 10px;
}

.form-textarea:hover {
  border: 1px solid var(--accent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  padding-left: 37px;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  appearance: none;
  -webkit- appearance: none;
  -moz- appearance: none;
}

.checkbox-on {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -25px;
  margin-top: 3px;
  opacity: 0;
}

.checkbox-off {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -25px;
  margin-top: 3px;
  opacity: 1;
}

.checkbox-input:focus ~ .checkbox-off>.check-icon{
 outline: 2px solid #015fcc;
  border-radius: 2px;
}

.checkbox-input:checked ~ .checkbox-off {
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-on {
  opacity: 1;
}

.agreement {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.agreement a {
  color: var(--accent-color);
}
.modal-send {
  display: inline-block;
  padding-left: 124px;
  padding-right: 124px;
}

.modal-button {
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--hover-accent-color);
}

/* Our qualities */

.qualities-section {
  padding: 94px 0 47px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.qualities {
  display: flex;
  gap: 30px;
}

.qualities .item {
  width: calc((100% - 90px) / 4);
}

.item p {
  margin: 0;
}

.qualities-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.qualities-pict {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.qualities-svg {
  margin: 25px 100px;
}

/* Specialization */

.specialization {
  padding: 47px 0 94px;
}

.specialization-picts {
  display: flex;
  gap: 30px;
}

.specialization .pict {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.picts-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(47, 48, 58, 0.8);
  color: var(--primary-white-color);

  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
}

/* Our Team */

.team {
  padding: 94px;
  background-color: var(--secondary-background-color);
}

.team-cards {
  display: flex;
  gap: 30px;
}

.team-card {
  flex-basis: calc((100% - 90px) / 4);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}

.team-caption {
  background-color: var(--primary-white-color);
  padding: 30px 32px;
  border-radius: 4px;
}

.team-card p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.team-caption p {
  margin-bottom: 16px;
}

/* social icons */

.team-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-icon {
  display: flex;
  width: calc((100% - 30px) / 4);
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--icons-color);

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Clients */

.client-section {
  padding: 94px 0;
}

.client-section .section-title {
  margin-bottom: 50px;
}

.clients {
  display: flex;
  gap: 30px;
}

.client-logo {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  fill: var(--icons-color);
  border-radius: 4px;
  cursor: pointer;

  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.page-footer {
  margin: 0 auto;
  padding: 60px 0;

  background-color: var(--hero-background-color);
}

.page-footer .list {
  align-items: baseline;
}

.contacts .link {
  color: var(--primary-white-color);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);
}

.mail,
.postaddress {
  display: block;
  margin-bottom: 9px;
}

.page-footer .logo {
  display: inline-block;
  margin: 0 0 30px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.postaddress.link {
  color: var(--primary-white-color);
  font-style: normal;

  transition: color var(--timing-function);
}

.postaddress.link:hover,
.postaddress.link:focus {
  color: var(--accent-color);
}

.page-footer .list {
  display: flex;
}

.footer-contacts {
  display: block;
  margin-right: 93px;
}

.address .contacts {
  display: block;
}

.footer-title {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-white-color);
  align-items: flex-end;
  text-transform: uppercase;
}

.footer-icons {
  display: flex;
}

.footer-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.footer-icon .footer-link:hover,
.footer-icon .footer-link:focus {
  background-color: var(--accent-color);
}

.footer-link .icon {
  fill: var(--primary-white-color);

  transition: fill 250ms var(--timing-function);
}

.footer-link .icon:hover,
.footer-link .icon:focus {
  fill: var(--primary-white-color);
}

.join {
  margin-right: 93px;
}

.subscription-form {
  display: flex;
}

.subscription-formfield {
  position: relative;

  margin-right: 12px;
}

:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --hover-accent-color: #188ce8;
  --icons-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "roboto", sans-serif;

  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  color: var(--title-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0;
}

.textarea {
  resize: none;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.hat {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.main-nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  display: block;
  color: var(--accent-color);
}

.item .current::after {
  bottom: -1px;
  content: "";
  width: calc(100% + 6px);
  left: -3px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
  display: block;
  fill: var(--primary-text-color);

  transition: fill 250ms var(--timing-function);
}

.contact-link:hover .contact-icon {
  fill: var(--accent-color);
}

.contact-link:hover {
  color: var(--accent-color);
}
/* Hero */

.page-hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;

  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpeg);
  background-color: var(--hero-background-color);
}

.hero-title {
  max-width: 696px;
  margin: 0px auto 30px;

  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.hero-button {
  width: 216px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  border-radius: 4px;

 

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); 
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 12px;

  text-align:center;
}

.data-form {
  position: relative;
  padding: 40px;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 8px 8px auto auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-pict {
  transition: fill 250ms var(--timing-function);
}

.modal-pict {
  fill:#000000;
}

.modal-pict:hover,
.modal-pict:hover {
  fill: var(--accent-color);
}

.form-field {
  display: block;
  position: relative;
}

.form-input {
  width:100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 42px;
  transition: border-color 250ms var(--timing-function);
  margin-bottom: 10px;
}

.form-input:hover {
  border-color: var(--accent-color);
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin: 0 0 4px 0;
  display: block;
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms var(--timing-function);  
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon { 
  fill: var(--accent-color);
}

.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);

  padding: 12px 16px;
  margin-bottom: 20px;

  transition: border-color 250ms var(--timing-function);
  margin-bottom: 10px;
}

.form-textarea:hover {
  border: 1px solid var(--accent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  padding-left: 37px;
}

.checkbox-input {
  position: absolute;
  appearance: none;
  -webkit- appearance: none;
  -moz- appearance: none;
}

.checkbox-off {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -25px;
  margin-top: 3px;
  opacity: 1;
}

.checkbox-on {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -25px;
  margin-top: 3px;
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-off {
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-on {
  opacity: 1;
}

.agreement {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.agreement a {
  color: var(--accent-color);
}
.modal-send {
  display: inline-block;
  padding-left: 124px;
  padding-right: 124px;
}

.modal-button {
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--hover-accent-color);
}

/* Our qualities */

.qualities-section {
  padding: 94px 0 47px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.qualities {
  display: flex;
  gap: 30px;
}

.qualities .item {
  width: calc((100% - 90px) / 4);
}

.item p {
  margin: 0;
}

.qualities-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.qualities-pict {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.qualities-svg {
  margin: 25px 100px;
}

/* Specialization */

.specialization {
  padding: 47px 0 94px;
}

.specialization-picts {
  display: flex;
  gap: 30px;
}

.specialization .pict {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.picts-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(47, 48, 58, 0.8);
  color: var(--primary-white-color);

  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
}

/* Our Team */

.team {
  padding: 94px;
  background-color: var(--secondary-background-color);
}

.team-cards {
  display: flex;
  gap: 30px;
}

.team-card {
  flex-basis: calc((100% - 90px) / 4);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}

.team-caption {
  background-color: var(--primary-white-color);
  padding: 30px 32px;
  border-radius: 4px;
}

.team-card p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.team-caption p {
  margin-bottom: 16px;
}

/* social icons */

.team-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-icon {
  display: flex;
  width: calc((100% - 30px) / 4);
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--icons-color);

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Clients */

.client-section {
  padding: 94px 0;
}

.client-section .section-title {
  margin-bottom: 50px;
}

.clients {
  display: flex;
  gap: 30px;
}

.client-logo {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  fill: var(--icons-color);
  border-radius: 4px;
  cursor: pointer;

  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.page-footer {
  margin: 0 auto;
  padding: 60px 0;

  background-color: var(--hero-background-color);
}

.page-footer .list {
  align-items: baseline;
}

.contacts .link {
  color: var(--primary-white-color);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);
}

.mail,
.postaddress {
  display: block;
  margin-bottom: 9px;
}

.page-footer .logo {
  display: inline-block;
  margin: 0 0 30px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.postaddress.link {
  color: var(--primary-white-color);
  font-style: normal;

  transition: color var(--timing-function);
}

.postaddress.link:hover,
.postaddress.link:focus {
  color: var(--accent-color);
}

.page-footer .list {
  display: flex;
}

.footer-contacts {
  display: block;
  margin-right: 93px;
}

.address .contacts {
  display: block;
}

.footer-title {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-white-color);
  align-items: flex-end;
  text-transform: uppercase;
}

.footer-icons {
  display: flex;
}

.footer-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.footer-icon .footer-link:hover,
.footer-icon .footer-link:focus {
  background-color: var(--accent-color);
}

.footer-link .icon {
  fill: var(--primary-white-color);

  transition: fill 250ms var(--timing-function);
}

.footer-link .icon:hover,
.footer-link .icon:focus {
  fill: var(--primary-white-color);
}

.join {
  margin-right: 93px;
}

.subscription-form {
  display: flex;
}

.subscription-formfield {
  position: relative;

  margin-right: 12px;
}

.subscription-forminput {
  width: 358px;
  height: 50px;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;

}

.subscription-formlabel {
  position: absolute;
  top: 0;
  left: 0;

  left: 16px;
  top: 50%;

  color: rgba(255, 255, 255, 0.6);

  transform: translate(0, -50%);
}

.subscription-forminput:not(:placeholder-shown) + .subscription-formlabel,
.subscription-forminput:focus + .subscription-formlabel {
  opacity: 0;
}

.subscription-button {
  display: flex;
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  padding: 0 28px;
  align-items: center;

}

.subscription-button:hover,
.subscription-button:focus {
  background-color: var(--hover-accent-color);
}

.icon-send {
  margin-left: 10px;
}





/* * {
  outline: 1px solid tomato;
} */




/* Portfolio */

.gallery {
  padding: 94px 0;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.gallery-button {
  background-color: var(--secondary-background-color);
  color: var(--title-color);
  border-style: none;
  border-radius: 4px;

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;

  display: inline-block;
  padding: 6px 22px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Card-set */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  flex-basis: calc((100% - 60px) / 3);
}

.card-link {
  display: block;
  width: 100%;
  transition: box-shadow 250ms var(--timing-function);
}

.card-set .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0px 0px 4px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.cardhover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  opacity: 90%;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card-link:hover .cardhover-text {
  transform: translate(0);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* .card-item:hover .cardhover-text {
  transform: translate(0);
}

.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.card-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin: 0px;
}

.caption {
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
  padding: 20px 24px;
}

/* .icon {
  fill: var(--icons-color);
} */

/* .icon:hover,
.icon:focus {
  fill: var(--accent-color);
} */

  height: 50px;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));

  padding-left: 16px;
}

.subscription-formlabel {
  position: absolute;
  top: 0;
  left: 0;

  left: 16px;
  top: 50%;

  color: rgba(255, 255, 255, 0.6);

  transform: translate(0, -50%);
}

.subscription-forminput:hover + .subscription-formlabel,
.subscription-forminput:focus + .subscription-formlabel {
  opacity: 0;
}


.subscription-button {
  display: flex;
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  padding: 0 28px;
  align-items: center;

}

.subscription-button:hover,
.subscription-button:focus {
  background-color: var(--hover-accent-color);
}

.icon-send {
  margin-left: 10px;
}





/* * {
  outline: 1px solid tomato;
} */




/* Portfolio */

.gallery {
  padding: 94px 0;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.gallery-button {
  background-color: var(--secondary-background-color);
  color: var(--title-color);
  border-style: none;
  border-radius: 4px;

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;

  display: inline-block;
  padding: 6px 22px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Card-set */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  flex-basis: calc((100% - 60px) / 3);
}

.card-link {
  display: block;
  width: 100%;
  transition: box-shadow 250ms var(--timing-function);
}

.card-set .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0px 0px 4px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.cardhover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  opacity: 90%;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card-link:hover .cardhover-text {
  transform: translate(0);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* .card-item:hover .cardhover-text {
  transform: translate(0);
}

.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.card-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin: 0px;
}

.caption {
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
  padding: 20px 24px;
}

/* .icon {
  fill: var(--icons-color);
} */

/* .icon:hover,
.icon:focus {
  fill: var(--accent-color);
} */
